<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">



       <bean id="dataop" class="com.plan.function.DataOpetate"></bean>
       <aop:config>
              <aop:aspect id="dataop" ref="dataop">
                     <aop:pointcut id="target" expression="execution(* com.plan.function.DataOpetate.*(..))"></aop:pointcut>
                     <aop:before method="opBegin" pointcut-ref="target"></aop:before>
                     <aop:after method="opEnd" pointcut-ref="target"></aop:after>
              </aop:aspect>
       </aop:config>


</beans>